<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>danmu-classroom-screen</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/fonts.css">
    <link rel="stylesheet" href="../assets/css/danmu.css">
  </head>

  <body style="background-color: rgba(0, 0, 0, 0);">
    <div id="screen" class="w-100">
      <div class="track row w-100"></div>
      <div class="track row w-100"></div>
      <div class="track row w-100"></div>
      <div class="track row w-100"></div>
      <div class="track row w-100"></div>
      <div class="track row w-100"></div>
      <div class="track row w-100"></div>
      <div class="track row w-100"></div>
      <div class="track row w-100"></div>
      <div class="track row w-100"></div>
    </div>
    <div class="fixed-bottom">
      <span id="key" class="text-muted"></span>
    </div>
    <script src="../assets/js/_common.js" charset="utf-8"></script>
    <script src="../assets/js/danmu.js" charset="utf-8"></script>
  </body>

</html>