<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>danmu-classroom-screen</title>
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/css/log.css">
</head>

<body>
  <h1 class="text-center">Log</h1>
  <div class="container mt-2">
    <div class="card text-white bg-dark">
      <div class="card-body" id="log-screen">

      </div>
    </div>
  </div>
  <script src="../assets/js/_common.js" charset="utf-8"></script>
  <script src="../assets/js/log.js" charset="utf-8"></script>
</body>

</html>
