#screen {
  overflow: hidden;
}

/* include fonts.css first */
.danmu {
  white-space: nowrap;
  animation-name: right-to-left;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-duration: 20s;
  font-size: 2.5rem;
  position: absolute;
  -webkit-text-stroke: 1px #000;
  -webkit-text-fill-color: #fff;
}

.track {
  height: 50px;
}

@keyframes right-to-left {
  from {
    margin-left: 100%;
    width: 100%;
  }

  to {
    margin-left: -100%;
    width: 100%;
  }
}
